*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card {
    border: 1px solid grey;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 280px;
}

.product-title {
    font-size: 0.9em;
    color: black;
    font-weight :500;
}

.size {
    font-size: 0.8em;
    color: gray;
    font-weight :300;
}
